.newProduct {
          flex: 4;
}

.addProductForm {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
}

.addProductItem {
          width: 250px;
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;
          margin-right: 10px;
}

.addProductItem > label {
          color: gray;
          font-weight: 600;
          margin-bottom: 10px;
}

.addProductItem > input {
          padding: 10px;
          outline: none;
          border: 1px solid lightgray;
}

.addProductItem > select {
          padding: 10px;
          outline: none;
          border: none;
          border: 1px solid lightgray;
}

.addProductButton {
          margin-top: 10px;
          padding: 7px 10px;
          border: none;
          border-radius: 10px;
          background: darkblue;
          color: #fff;
          font-weight: 600;
          cursor: pointer;
          align-self: center;
}
